@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;700&family=Syne&display=swap");
@font-face {
  font-family: "Aussten";
  src: url("/fonts/austten.woff2") format("woff2"), url("/fonts/austten.woff") format("woff"), url("/fonts/webfonts/austten.eot"), url("/fonts/webfonts/austten.eot?#iefix") format("embedded-opentype"), url("/fonts/austten.ttf") format("truetype");
  /* Add additional formats as needed (e.g., .otf) for better browser compatibility */
}
body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Austten", sans-serif;
  font-weight: normal;
  font-size: 74px;
}

h2 {
  font-family: "Saira Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

p,
span {
  font-family: "Syne", sans-serif;
  font-size: 22px;
  line-height: 44px;
}

li {
  font-family: "Syne", sans-serif;
  color: #3f4144;
  font-size: 22px;
  line-height: 29px;
}

.grey {
  background-color: #f2f2f2;
}

.ten-px-inner {
  padding: 0 10px;
}

.vertical-line {
  width: 3px;
  height: 300px;
}

.horizontal-line {
  height: 3px;
}

.relative {
  position: relative;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-padding {
  padding-left: 35px;
  padding-right: 35px;
}

.white {
  background-color: white;
}

.blue {
  background-color: #1578a0;
}

.inner-content {
  padding: 150px 35px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.inner-content .text-content {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.full-height {
  height: 100vh;
}

.p100 {
  height: 100px;
  display: block;
}
.p100.t-round {
  border-radius: 25px 25px 0 0;
  background-color: #fafafa;
}
.p100.b-round {
  border-radius: 0 0 25px 25px;
  background-color: #fafafa;
}

#work-container {
  background-color: #1578a0;
  padding: 30px;
  overflow: hidden;
}
#work-container .gallery {
  padding: 125px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  background-color: #fafafa;
}
#work-container #featured-work-text {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#work-container #work-list {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#work-container .work-item.half-item {
  width: 49%;
}
#work-container .work-item .full-width {
  width: 100%;
}

.popup-container {
  z-index: 202;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200000;
}
.popup-container .popup {
  padding: 150px 100px 180px;
  position: absolute;
  top: 5%;
  overflow-y: scroll;
  z-index: 202;
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
  height: 50vh;
  min-height: 600px;
  height: 100vh;
  max-width: 1128px;
  width: 100%;
}
.popup-container .popup h2 {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 0.02em;
  line-height: 56px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 50px;
  margin-top: 0;
}
.popup-container .popup .popup-inner {
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: left;
  color: #000;
  display: flex;
  flex-direction: column;
}
.popup-container .popup .popup-inner p,
.popup-container .popup .popup-inner span {
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: left;
  color: #000;
}
.popup-container .popup .popup-inner ul {
  list-style-type: disc;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
}
.popup-container .popup #close-button {
  position: absolute;
  top: 70px;
  right: 70px;
  cursor: pointer;
}
.popup-container .popup #close-button svg {
  width: 40px;
  height: auto;
}

#item-collection {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  padding: 200px 125px 0;
  justify-content: space-around;
}
#item-collection #circle-wrap {
  display: flex;
  align-items: center;
}
#item-collection #skill-circle {
  background: #e6e6e6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: left;
  height: initial;
  position: relative;
  width: 40vw;
  height: 40vw;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}
#item-collection #skill-circle h2 {
  text-transform: none;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 768px) {
  #item-collection #skill-circle {
    display: none;
  }
}
#item-collection .right-item-list {
  margin-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 140px;
}
#item-collection .right-item-list hr {
  content: "";
  display: inline-block;
  width: 3px;
  background: white;
  color: white;
  border: 0;
  position: absolute;
  left: 47px;
  top: 10px;
  height: 200%;
}
#item-collection .right-item-list .item-list {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#item-collection .right-item-list .item-list h2 {
  color: #3f4144;
  position: relative;
}
#item-collection .right-item-list .item-list h2:before {
  content: "";
  display: inline-block;
  width: 82px;
  height: 82px;
  background: white;
  position: absolute;
  left: 8px;
  top: -11px;
  border-radius: 50%;
}
#item-collection .right-item-list .item-list h2 span {
  color: #3f4144;
  position: relative;
  z-index: 20;
  font-family: "Saira Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}
#item-collection .right-item-list .item-list ul {
  list-style: none;
  margin: 0;
  padding-top: 40px;
  position: relative;
  padding-left: 40px;
  padding-bottom: 100px;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#item-collection .right-item-list .item-list ul li {
  margin-left: 40px;
  position: relative;
  padding-left: 45px;
}
#item-collection .right-item-list .item-list ul li p {
  line-height: 25px;
  color: #a0a0a0;
}
#item-collection .right-item-list .item-list ul li a {
  color: #515152;
}
#item-collection .right-item-list .item-list ul li:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background: white;
  position: absolute;
  left: 3px;
  top: 9px;
  border-radius: 6px;
}

@media (max-width: 1250px) {
  .popup-container .popup {
    width: 66%;
  }
}
@media (max-width: 950px) {
  .popup-container .popup {
    padding: 60px 10%;
  }
  .popup-container .popup #close-button {
    top: 25px;
    right: 25px;
  }
}
@media (max-width: 850px) {
  .header-block h3 {
    display: none;
  }
  .popup-container .popup {
    padding: 55px 7%;
    width: 75%;
  }
  .popup-container .popup h2 {
    font-size: 44px;
    margin-bottom: 25px;
    line-height: 50px;
  }
  .popup-container .popup #close-button {
    top: 25px;
    right: 25px;
  }
  .popup-container .popup .popup-inner span,
  .popup-container .popup .popup-inner p {
    font-size: 18px;
    line-height: 28px;
  }
  .popup-container .popup .popup-inner ul {
    margin-left: 20px;
    padding-left: 0;
  }
}
@media (max-width: 700px) {
  .popup-container .popup {
    height: 70vh;
    padding: 35px 10% 55px;
    width: 90%;
    top: 40px;
  }
  .popup-container .popup h2 {
    width: 80%;
  }
  .popup-container .popup .popup-inner {
    padding-bottom: 100px;
  }
}
@media (max-width: 650px) {
  .popup-container .popup h2 {
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 35px;
  }
}/*# sourceMappingURL=App.css.map */